* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* VARIABLE DECLARATION */
    --dark-gray: rgb(90, 90, 90);
    --light-gray: rgb(148, 148, 148);
    --focus-blue: rgb(69, 159, 189);
    --blue-condensed: #1992d4;
    --blue-greenish: #127c94;
    --blue-bright: #8feaff;

    /* Sidebar variables */
    --sb-main-bg-color: #523A28;
    --sb-main-font-color: #fff;

    --sb-title-img-size: 50px;
    --sb-title-font-size: 1.5rem;

    --sb-util-bg-hover-color: #A47551;
    --sb-util-img-size: 30px;
    --sb-util-font-size: 1.2rem;
    --sb-util-font-color: #fff;

    /* Dashboard variables */
    --db-main-bg-color: #e2e8f0;

    --hd-main-bg-color: #fff;
}

main {
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(200px, 270px) auto;
}


/* Start of sidebar styling */

.sidebar-container {
    background-color: var(--sb-main-bg-color);
    color: var(--sb-main-font-color);
}

.sb-title-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sb-main-font-color);
    font-size: var(--sb-title-font-size);
    text-decoration: none;
    margin: 1.3rem auto;
}

.sb-title-logo img {
    margin-right: 1rem;
}

.sb-span-2 {
    margin-bottom: 40px;
}

.sb-utility-wrapper .sb-utility a  {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--sb-util-font-color);
    font-size: var(--sb-util-font-size);
    padding: 8px 0;
}

.sb-utility-wrapper .sb-utility a:hover {
    background-color: var(--sb-util-bg-hover-color);
}

.sb-utility-wrapper .sb-utility img {
    width: var(--sb-util-img-size);
    height: var(--sb-util-img-size);
    margin: 0 1rem;
}

/* End of sidebar styling */
/* Start of Dashboard styling */

.dashboard-container {
    display: grid;
    grid-template-rows: 130px auto;
    background-color: var(--db-main-bg-color);
}

.header-container {
    background-color: var(--hd-main-bg-color);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 0 2rem;
}

.header-container .hd-uprow-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* margin: 0 2rem; */
}

.hd-uprow-wrapper .hd-searchbox {
    --target-size: 32px;
    --border-width: 2px;
    
    /* Input box variables */
    --box-height: var(--target-size);
    --border-radius: calc( var(--box-height) / 2 );

    /* Img variables */
    --icon-size: calc( var(--box-height) * 3/4 );

    /* Gap variables */
    --side-margin: calc( var(--border-radius) / 2 );
    --icon-vertical-margin: calc( (var(--box-height) - var(--icon-size)) / 2 );

    display: flex;
    flex: 1 2 auto;
    position: relative;
    min-width: 208px;
    height: var(--box-height);
    margin-right: 80px;
}

.hd-uprow-wrapper .hd-searchbox img {
    position: absolute;
    left: var(--side-margin);
    top: var(--icon-vertical-margin);
    bottom: var(--icon-vertical-margin);
    width: var(--icon-size);
    height: var(--icon-size);
}

.hd-uprow-wrapper .hd-searchbox input[type="search"] {
    color: var(--dark-gray);
    font-size: 1rem;
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--dark-gray);
    width: 100%;
    height: 100%;

    padding-left: calc( var(--side-margin) + var(--icon-size) + 4px );
    padding-right: var(--side-margin);
}

.hd-uprow-wrapper .hd-searchbox input[type="search"]::placeholder {
    color: var(--light-gray);
    opacity: 1;
}

.hd-uprow-wrapper .hd-searchbox input[type="search"]:focus {
    border-color: var(--focus-blue);
    box-shadow: 0px 0px 5px var(--focus-blue);
    outline: 1px solid transparent;
}

.hd-uprow-wrapper .hd-user-profile {
    --target-size: 32px;

    --ideal-img-size: 42px;
    --min-img-size: var(--target-size);

    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hd-uprow-wrapper .hd-user-profile .hd-notification-btn {
    border: none;
    border-radius: 50%;
    padding: 2px;
}

.hd-uprow-wrapper .hd-user-profile .hd-notification-btn img {
    width: var(--min-img-size);
    height: var(--min-img-size);
}

.hd-uprow-wrapper .hd-user-profile .hd-photo-wrapper {
    width: var(--ideal-img-size);
    height: var(--ideal-img-size);
    min-width: var(--min-img-size);
    min-height: var(--min-img-size);
    overflow: hidden;
    border-radius: 50%;
}

.hd-uprow-wrapper .hd-user-profile .hd-photo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hd-bottomrow-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hd-bottomrow-wrapper .hd-greetings-wrapper {
    flex: 1 2 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hd-bottomrow-wrapper .hd-greetings-wrapper .hd-photo-wrapper {
    --img-size: 50px;
    
    width: var(--img-size);
    height: var(--img-size);
    overflow: hidden;
    border-radius: 50%;
}

.hd-bottomrow-wrapper .hd-greetings-wrapper .hd-photo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hd-bottomrow-wrapper .hd-greetings-wrapper .hd-user-name {
    font-size: 1.3rem;
}

.hd-bottomrow-wrapper .hd-action-wrapper-list {
    display: flex;
    gap: 1rem;
}

.hd-bottomrow-wrapper .hd-action-wrapper {
    --box-width: 6rem;
    --box-height: 2rem;

    width: var(--box-width);
    height: var(--box-height);
    background-color: var(--blue-condensed);
    border-radius: calc( var(--box-height) / 2 );
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.hd-bottomrow-wrapper .hd-action-wrapper:hover {
    background-color: var(--blue-bright);
}

.hd-bottomrow-wrapper .hd-action-wrapper a {
    text-decoration: none;
    color: #fff;
}

/* End of header style */
/* Start of content style */

.content-container {
    --card-color: #fff;

    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem 1rem;
}

.content-container .ct-container-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}



.ct-projects-container .ct-projects-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 1.2rem;
    margin-right: 1rem;
    
}

.ct-projects-container .ct-projects-wrapper .ct-project-card svg {
    width: 28px;
    height: 28px;
}

.ct-project-action-btn {
    display: flex;
    justify-content: flex-end;
    gap: 0.7rem;
    margin-top: 50px;
    margin-right: 0.5rem;
}

.ct-announcements-container .ct-announcements-wrapper {
    background-color: var(--card-color);
    border-radius: 8px;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    margin-bottom: 1rem;
}

.ct-trendings-container .ct-trendings-wrapper {
    background-color: var(--card-color);
    border-radius: 8px;
    display: grid;
    grid-template-rows: repeat(4, 60px);
}

.ct-project-card, 
.ct-announcement-card {
    display: flex;
    flex-direction: column;
    padding: 1.3rem 1rem;
}

.ct-project-card {
    background-color: var(--card-color);
    border-radius: 8px;
}

.ct-project-card p:first-child {
    font-weight: 600;
    margin-bottom: 2px;
}

.ct-announcement-card p:first-child {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 2px;
}

.ct-announcement-card p:nth-last-child(1) {
    font-size: 0.7rem;
}

.ct-trend-card {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    padding: 0 1rem;
}

.ct-trend-card .ct-photo-wrapper {
    --ct-img-size: 40px;
    --ct-img-min-size: 30px;

    width: var(--ct-img-size);
    height: var(--ct-img-size);
    min-width: var(--ct-img-min-size);
    min-height: var(--ct-img-min-size);
    overflow: hidden;
    border-radius: 50%;
}

.ct-trend-card .ct-photo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ct-trend-card .ct-user-wrapper {
    margin-left: 1rem;
}

.ct-trend-card .ct-user-wrapper p:first-child {
    font-weight: 500;
    font-size: 0.9rem;
}

.ct-trend-card .ct-user-wrapper .ct-user-quote {
    opacity: 0.5;
    font-size: 0.8rem;
}


/* -------------------------------------- */

/* .ct-projects-container .ct-projects-wrapper > * {
    border: 1px solid var(--blue-condensed);
}

.ct-announcements-container .ct-announcements-wrapper > * {
    border: 1px solid coral;
}

.ct-trendings-container .ct-trendings-wrapper > * {
    border: 1px solid green;
} */
